body {
	background-color: #2E3561;
	color: whitesmoke;
	margin: 0;
	text-align: justify;
}

main {
	margin: 0 auto 2rem;
	max-width: 30rem;
}

a {
	color: whitesmoke;
	font-weight: 600;
	text-decoration: underline;
}

ol, ul {
	list-style-position: inside;
	list-style-type: square;
	margin: 0;
	padding: 0;
}

li {
	padding-bottom: .5rem;
}

h2 {
	line-height: 1.1;
	margin-top: 3rem;
	text-align: left;
}

main a {
	font-weight: 400;
}

main header {
	text-align: center;
}

main header h1 {
	margin: 0;
}

main header h2 {
	line-height: 1.4;
	margin: -2.5rem 0 0 0;
	text-align: center;
}

main header img {
	width: 100%;
}

main header time {
	color: #2E3561;
	display: block;
  font-size: 1.5rem;
}

main header span {
	display: block;
	margin-top: -.5rem;
}

footer h3 {
	text-align: left;
}

footer p {
	text-align: left;
}
